body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
    background-color: #FFFFFF;

}

a {
    text-decoration: none;
    list-style-type: none;
}

ul {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

h1 {
    margin: 0;
}

img {
    display: block;
}
/*Header*/

.header {
    background: #FFF;
    border-bottom: 1px solid #E7E9FC;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
    }

.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navigation {
    display: flex;
    align-items: center;
}

.logo-header {
    color: #4D5AE5;
    font-family: "Raleway", sans-serif ;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    margin-right: 76px;
}


.logo-header-part {
    color: #2E2F42;
}

.header-items {
    display: flex;
    align-items: flex-start;
    gap: 40px;
}

.nav-link {
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
    padding: 24px 0;
}

.nav-link:hover,
.nav-link:focus {
    color: #404BBF;
    text-decoration: underline;
}

.address {
    font-style: normal;
    display: block;
}

.address-link {
    color: #434455;
    line-height: 24px;
    letter-spacing: 0.32px;
    font-style: normal;
}

.mail-link:hover,
.mail-link:focus {
    color: #404BBF;
}

.tel-link:hover,
.tel-link:focus {
    color: #404BBF;

}
.address-link:hover, 
.address-link:focus {
    color: #404bbf;
}

/* Subject Section */

.section-one {
    background: #2E2F42;
    padding: 188px 0;
}

.slogan {
    color: #FFF;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
    width: 100%;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
}

.button-style {
    color: #FFF;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    background-color: #4D5AE5;
    cursor: pointer;
    display: block;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    border: none;
    background-color: #4D5AE5;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
}

.button-style:hover,
.button-style:focus {
   background-color: #404BBF;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Features Section */
 
.slogan-descr {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
}
.section-two {
    padding: 120px 0;
}
.section-two-items {
    display: flex;
    gap: 24px;
}
.section-two-items-descr {
    width: calc((100% - 72px) / 4);
}
.employee {
    padding: 32px 0;
}

.section-three-items {
    display: flex;
    gap: 24px;
}
.features-subtitle {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    margin-bottom: 8px;
    text-align: center;
}

.features-descr {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    text-align: center;
}

.section-three {
    background-color: #F4F4FD;
    padding: 120px 0;
}
.app {
    padding: 32px 16px;
    border: 1px solid #E7E9FC;
    border-top: none;
}
.card-info {
    background-color: #FFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    border-radius: 0px 0px 4px 4px;
    background: var(--WHITE, #FFF);
    box-shadow: 
    0px 2px 1px 0px rgba(46, 47, 66, 0.08), 
    0px 1px 1px 0px rgba(46, 47, 66, 0.16), 
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.section-four {
    padding-top: 120px;
    padding-bottom: 120px;
}
.section-four-items {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.card-info-section-four {
    width: calc((100% - 48px) / 3);
}
.features-descr-two {
    color: #F4F4FD;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.footer {
    background-color: #2E2F42;
    padding: 100px 0;
}
.logo-footer {
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;
}

.logo-footer-part {
    color: #F4F4FD;
}